<h2 class="sub-header">Quản lý người sử dụng</h2>
<div class="table-responsive">
  <div class="main col-md-12">
        <form class="form-horizontal">
			<fieldset>

        <!-- Form Name -->
			<legend>Thêm người sử dụng</legend>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="name">Mã User</label>
				  <div class="col-md-4">
					<input id="name" ng-model="newcontrucsions.name"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="location">Mã User</label>
				  <div class="col-md-4">
					<input id="location" ng-model="newcontrucsions.location" type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">First Name</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Last Name</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Phone</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Email</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Địa chỉ</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Loại Users</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="create_Date">Trạng thái</label>
				  <div class="col-md-4">
					<input id="create_Date" ng-model="newcontrucsions.create_Date"  type="text" placeholder="" class="form-control input-md" required="">

				  </div>
				</div>



        <!-- Button (Double) -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="bCancel"></label>
				  <div class="col-md-8">
					<button type="button" ng-click="add()" class="btn btn-danger" ><span class="glyphicon glyphicon-plus"></span> Add</button>
				  </div>
				</div>

			</fieldset>
		</form>
     </div>
  <table id="data_doitac" class="display text-center" width="100%" cellspacing="0">
<thead>
  <tr>
    <th class="text-center">STT</th>
    <th class="text-center">Mã User</th>
    <th class="text-center">First Name</th>
    <th class="text-center">Last Name</th>
    <th class="text-center">Phone</th>
    <th class="text-center">Email</th>
    <th class="text-center">Địa chỉ</th>
    <th class="text-center">Loại Users</th>
    <th class="text-center">Trạng thái</th>
    <th class="text-center">Username</th>
	<th class="text-center"></th>
	<th class="text-center"></th>
  </tr>
</thead>

<tfoot>
  <tr>
    <th class="text-center">STT</th>
    <th class="text-center">Mã User</th>
    <th class="text-center">First Name</th>
    <th class="text-center">Last Name</th>
    <th class="text-center">Phone</th>
    <th class="text-center">Email</th>
    <th class="text-center">Địa chỉ</th>
    <th class="text-center">Loại Users</th>
    <th class="text-center">Trạng thái</th>
    <th class="text-center">Username</th>
	<th class="text-center"></th>
	<th class="text-center"></th>
  </tr>
</tfoot>

<tbody>
  <tr>
    <td>2</td>
    <td>Vũ Xuân Dân</td>
    <td>G01</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td>5</td>
    <td><button class="btn btn-warning" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
	<div class="modal fade container" id="myModal" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Edit Users</h4>
			</div>
			<div class="modal-body row">
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Mã User</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">First Name</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
				  <label for="pwd">Last Name</label>
				  <input type="text" class="form-control" id="pwd">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Phone</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Email</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Địa chỉ</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Loại Users</label>
					<input type="text" class="form-control" id="usr">
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6">
					<label for="usr">Trạng thái</label>
					<input type="text" class="form-control" id="usr">
				</div>
							
			
			
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
			</div>
		  </div>
		  
		</div>
	</div>
    <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</button></td>
  </tr>
</tbody>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var t = $('#data_doitac').DataTable( {
      "scrollY":   300,
      "columnDefs": [ {
        "searchable": false,
        "orderable": false,
        "targets": 0
      } ],
      "order": [[ 1, 'asc' ]]
    } );

    t.on( 'order.dt search.dt', function () {
      t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
        cell.innerHTML = i+1;
      } );
    } ).draw();
  } );<!---khoi tao datatable--->
</script> 
